extends layout

 

block content

  h1= title

  p Welcome to #{title}

  form(method="post", action="/pdfGenrator")

   label(class="label-text") File Name

   br

   input(type="text", name="filename", placeholder="File Name", class="text-style", maxlength)

   br

   label(class="label-text") Text

   br

   textarea(name="content", class="text-style", placeholder="Write something for convert it to pdf")

   br

   input(type="submit", value="Create PDF", class="button-style")